* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  color: #444;
}

.center-container {
  width: 70rem;
  margin: 100px auto;
}

.form-task {
  margin-top: 5rem;
}

.table-elements-centered td, 
.table-elements-centered th { text-align: center; vertical-align: middle !important; }

.u-margin-top-medium { margin-top: 2rem; }

@media only screen and (max-width: 800px) {
  .center-container {
    width: 100%;
    margin: 100px 0px;
  }
}